body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}

a {
	color:blue;
}

.blue {
	font-size: 17px;
	color:blue;
}

.contenedor{
	
}
ul{
	list-style:none;
	padding-left: 10px
}
ul, b{
	margin:0;
}

