body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}

a {
	color:blue;
}

.blue {
	font-size: 17px;
	color:blue;
}

.contenedor {

	display: flex;
	width: 300px;
	height: 40px;
	color: blue;
	font-size: 40px;
	line-height: 40px;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	overflow: hidden;
}

ul{
	list-style: none;
	padding-left: 10px;

}

ul, p {
	margin: 0;
}

