body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}

a {
	color:blue;
}

.blue {
	font-size: 17px;
	color:blue;
}

.contenedor {

	display: flex;
	font-style: Arial;
	width: 300px;
	height: 20px;
	color: black;
	font-size: 20px;
	line-height: 20px;

	position: absolute;
	top: 50;
	right: 0;
	bottom: 50;
	left: 0;
	margin:auto;


	overflow: hidden;
}

ul{
	list-style: none;
	padding-left: 10px;
	animation: cambiar 7s infinite;
}

ul, p {
	margin: 0;
}

@keyframes cambiar{

	0%{ margin-top: 0; }
	20%{ margin-top: 0; }

	25% {margin-top: -20px;}
	50% {margin-top: -20px;}

	55% {margin-top: -40px;}
	80% {margin-top: -40px;}

	85% {margin-top: -20px;}
	95% {margin-top: -20px;}

	100% {margin-top: 0;}


}

